# Mac OS
**.DS_Store

# PlatformIO firmware-specific stuff
# Added 2017-03-22 gordonb
**.pioenvs
firmware/src

# Python
*.swp
*.pyc
*.egg-info
__pycache__
.idea

# Docs
doc/html
doc/manifest.yaml
doc/_build
.cache/
